/* 1️⃣ Brauzer default stillarini reset qilish */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 2️⃣ Global font va ranglarni o‘rnatish */
:root {
  --background: white;
  --background-additional: #F1F5EB;
  --foreground: #034833;
  --lime: #83CD20;
  --hero: #3c6455;
  --background2: #034833;
  --line-color: #ffffff4d;
  --font-gray: #727272;
  --light-gray: #D9D9D9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --background-additional: #F1F5EB;
    --foreground: #034833;
    --lime: #83CD20;
    --hero: #3c6455;
    --background2: #034833;
    --line-color: #ffffff4d;
    --font-gray: #727272;
    --light-gray: #D9D9D9;
  }
} */

/* 3️⃣ HTML va Body uchun umumiy stillar */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4️⃣ Linklar uchun umumiy stil */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 5️⃣ scrollbarni olib tashlash */
::-webkit-scrollbar {
  width: 0;
}

.w-100 {width: 100vw;}
.w-30p {width: 33%;}
.w-100p {width: 100%;}
.w-fc {width: fit-content;}

.w-1px {width: 1px;}
.w-40px {width: 40px;}
.w-58px {width: 58px;}
.w-60px {width: 60px;}
.w-80px {width: 80px;}
.w-100px {width: 100px;}
.w-200px {width: 200px;}
.w-300px {width: 300px;}
.w-400px {width: 400px;}
.w-418px {width: 418px;}
.w-440px {width: 440px;}
.w-500px {width: 500px;}
.w-600px {width: 600px;}
.w-700px {width: 700px;}
.w-800px {width: 800px;}
.w-900px {width: 900px;}
.w-1000px {width: 1000px;}
.w-1280px {width: 1280px;}
.w-1440px {width: 1440px;}
.w-1800px {width: 1800px;}
.w-1920px {width: 1920px;}

.mxw-630px {max-width: 630px;}
.mxw-1280px {max-width: 1280px;}
.mxw-1440px {max-width: 1440px;}
.mxw-1595px {max-width: 1595px;}
.mxw-1800px {max-width: 1800px;}
.mxw-1920px {max-width: 1920px;}
.mnw-1440px {min-width: 1440px;}

.h-100 {height: 100vh;}
.h-100p {height: 100%;}

.h-1px {height: 1px;}
.h-20px {height: 20px;}
.h-40px {height: 40px;}
.h-60px {height: 60px;}
.h-80px {height: 80px;}
.h-100px {height: 100px;}
.h-120px {height: 120px;}
.h-400px {height: 400px;}
.h-462px {height: 462px;}
.h-482px {height: 482px;}
.h-670px {height: 670px;}
.h-800px {height: 800px;}

.mnh-670px {min-height: 670px;}


.mb-20px {margin-block: 20px;}
.mb-30px {margin-block: 30px;}
.mb-34px {margin-block: 34px;}
.mb-40px {margin-block: 40px;}
.mb-80px {margin-block: 80px;}
.mb-84px {margin-block: 84px;}
.mb-90px {margin-block: 90px;}
.mb-100px {margin-block: 100px;}

.mi-a {margin-inline: auto;}
.mi-40px {margin-inline: 40px;}
.mi-48px {margin-inline: 48px;}
.mi-50px {margin-inline: 50px;}
.mi-60px {margin-inline: 60px;}
.mi-315px {margin-inline: 315px;}

.ml-20px {margin-inline: 20px;}

.mt-a {margin-top: auto;}
.mt-100px {margin-top: 100px;}

.mbt-120px {margin-bottom: 120px;}

.p-20px {padding: 20px;}
.p-30px {padding: 30px;}
.p-40px {padding: 40px;}

.pb-10px {padding-block: 10px;}
.pb-15px {padding-block: 15px;}
.pb-20px {padding-block: 20px;}
.pb-30px {padding-block: 30px;}
.pb-40px {padding-block: 40px;}

.pi-10px {padding-inline: 10px;}
.pi-15px {padding-inline: 15px;}
.pi-20px {padding-inline: 20px;}
.pi-24px {padding-inline: 24px;}
.pi-30px {padding-inline: 30px;}
.pi-40px {padding-inline: 40px;}
.pi-60px {padding-inline: 60px;}
.pi-150px {padding-inline: 150px;}
.pi-255px {padding-inline: 255px;}
.pi-315px {padding-inline: 315px;}

.pt-150px {padding-top: 150px;}

.b-0 {border: 0;}
.b-0:focus {border: 0;}
.b-1px-s-w {border: 1px solid white;}
.b-1px-s-l {border: 1px solid var(--lime);}
.b-1px-s-w20 {border: 1px solid #ffffff33;}
.b-1px-s-b10 {border: 1px solid #0000001a;}
.b-5px-s-l {border: 5px solid var(--lime);}

.br-50p {border-radius: 50%;}
.br-20px {border-radius: 20px;}
.br-30px {border-radius: 30px;}
.br-40px {border-radius: 40px;}
.br-50px {border-radius: 50px;}

.ar-1-1 {aspect-ratio: 1/1;}
.ar-18-8 {aspect-ratio: 18/8;}

.fs-10px {font-size: 10px;}
.fs-14px {font-size: 14px;}
.fs-15px {font-size: 15px;}
.fs-16px {font-size: 16px;}
.fs-18px {font-size: 18px;}
.fs-30px {font-size: 30px;}
.fs-32px {font-size: 32px;}
.fs-50px {font-size: 50px;}
.fs-80px {font-size: 80px;}
.fs-06r {font-size: 0.6rem;}
.fs-08r {font-size: 0.8rem;}
.fs-09r {font-size: 0.9rem;}
.fs-1r {font-size: 1rem;}
.fs-112r {font-size: 1.12rem;}
.fs-12r {font-size: 1.2rem;}
.fs-14r {font-size: 1.4rem;}
.fs-15r {font-size: 1.5rem;}
.fs-16r {font-size: 1.6rem;}
.fs-18r {font-size: 1.8rem;}
.fs-2r {font-size: 2rem;}
.fs-3r {font-size: 3rem;}
.fs-312r {font-size: 3.12rem;}
.fs-32r {font-size: 3.2rem;}
.fs-4r {font-size: 4rem;}
.fs-5r {font-size: 5rem;}
.fs-8r {font-size: 8rem;}

.ta-c {text-align: center;}

.lh-2 {line-height: 2;}
.lh-30px {line-height: 30px;}

.ff-b {font-family: "Plus Jakarta Sans", sans-serif;}

.d-f {display: flex;}

.fd-c {flex-direction: column;}
.fd-r {flex-direction: row;}
.fd-cr {flex-direction: column-reverse;}
.fd-rr {flex-direction: row-reverse;}

.g-5px {gap: 5px;}
.g-10px {gap: 10px;}
.g-15px {gap: 15px;}
.g-16px {gap: 16px;}
.g-20px {gap: 20px;}
.g-25px {gap: 25px;}
.g-30px {gap: 30px;}
.g-35px {gap: 35px;}
.g-40px {gap: 40px;}
.g-60px {gap: 60px;}

.jc-sb {justify-content: space-between;}
.jc-c {justify-content: center;}

.ai-fs {align-items: flex-start;}
.ai-c {align-items: center;}

.o-80 {opacity: 0.8;}

.c-w {color: white;}
.c-fg {color: var(--font-gray);}
.c-l {color: var(--lime);}
.c-f {color: var(--foreground);}

.bc-t {background-color: transparent;}
.bc-w {background-color: #ffffff;}
.bc-lc {background-color: var(--line-color);}
.bc-w10 {background-color: #ffffff1a;}
.bc-b {background-color: var(--background);}
.bc-ba {background-color: var(--background-additional);}
.bc-f {background-color: var(--foreground);}
.bc-l {background-color: var(--lime);}
.bc-b2 {background-color: var(--background2);}
.bc-fg {background-color: var(--font-gray);}
.bc-black {background-color: black;}
.bc-ib {background-color: #111214;}
.bc-r {background-color: red;}
.bc-lg {background-color: var(--light-gray);}
.bc-hero {background-color: var(--hero);}

.p-r {position: relative;}
.p-a {position: absolute;}

.bm-0 {bottom: 0;}
.bm-10p {bottom: 10%;}
.bm-13p {bottom: 13%;}
.bm-50p {bottom: 50%;}
.b--300px {bottom: -300px;}
.bm-10px {bottom: 10px;}
.bm-30px {bottom: 30px;}
.bm-60px {bottom: 60px;}
.bm-70px {bottom: 70px;}
.bm-78px {bottom: 78px;}

.t-50p {top: 50%;}
.t-55p {top: 55%;}
.t-60p {top: 60%;}
.t-70p {top: 70%;}
.t-80p {top: 80%;}

.l-0 {left: 0;}
.l-10p {left: 10%;}
.l-50p {left: 50%;}
.l-52p {left: 52%;}
.l-60p {left: 60%;}
.l-20px {left: 20px;}

.tr-5 {transform:rotate(-5deg)}

.t-tx--50p {transform: translateX(-50%);}

.o-h {overflow: hidden;}

.zi--1 { z-index: -1; }
.zi-0 { z-index: 0; }
.zi-1 { z-index: 1; }

.td-n {text-decoration: none;}
.lst-n {list-style-type: none;}

.fw-1 {font-weight: 100;}
.fw-2 {font-weight: 200;}
.fw-3 {font-weight: 300;}
.fw-4 {font-weight: 400;}
.fw-5 {font-weight: 500;}
.fw-55 {font-weight: 550;}
.fw-6 {font-weight: 600;}
.fw-b {font-weight: bold;}

.fs-e {font-stretch: expanded;}

.clear-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.clear-input::placeholder {
  color: white;
}